[data-webswing-instance] {
	overflow: hidden;
}

.webswing-dialog-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.webswing-dialog-backdrop {
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	opacity: 0.5;
	background-color: #000000;
}

.webswing-dialog {
	overflow-x: visible;
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1050;
}

.webswing-dialog-modal {
	vertical-align: middle;
	display: table-cell;
}

.webswing-dialog-modal-content {
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
	padding-right: 15%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.input-hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 1px;
    display: block;
    font-size: 1;
    z-index: -1;
    color: transparent;
    background: transparent;
    overflow: hidden;
    border: none;
    padding: 0;
    resize: none;
    outline: none;
    -webkit-user-select: text;
    user-select: text;
    /* Because for user-select:none, Safari won't allow input */
}