<tabset> 
    <tab >
        <tab-heading> 
            Swing Applications
            <a class="btn btn-primary btn-xs" ng-if="!vm.readonly" ng-click="vm.newApp()">New</a>
        </tab-heading>
        <div class="ws-config-group ">
            <ws-application-list readonly="{{vm.readonly}}" variables="vm.variables" apps="vm.config.applications"></ws-application-list>
        </div>
    </tab>
    <tab >   
        <tab-heading> 
            Java Applets
            <a class="btn btn-primary btn-xs" ng-if="!vm.readonly" ng-click="vm.newApplet()">New</a>
        </tab-heading>
        <div class="ws-config-group ">
            <ws-application-list readonly="{{vm.readonly}}" variables="vm.variables" apps="vm.config.applets"></ws-application-list>
        </div>
    </tab>
    <tab select="vm.updateJson()"> 
        <tab-heading> 
            <i class="glyphicon glyphicon-cog"></i>
            JSON
        </tab-heading>
        <div class="ws-tab-panel row">
            <div class="ws-config-group col-md12">
                <div ui-ace="{ mode: 'json', onLoad : vm.aceLoaded}" ng-model="vm.json"></div>
            </div>
        </div>
    </tab> 
</tabset>