<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<div class="navbar-brand">Webswing.org</div>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li ng-repeat="location in vm.locations" ng-class="{active:  vm.isActive(location)}"><a href="{{location.getDefaultUrl()}}">{{location.name}}</a></li>
			</ul>
		</div>
	</div>
</div>