<div class="modal-body">
	<form id="loginForm" class="form-signin" accept-charset="UTF-8" role="form">
		<h2 class="form-signin-heading">Please sign in</h2>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="User name" name="username" required autofocus ng-model="loginForm.username">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Password" name="password" required ng-model="loginForm.password" ng-keyup="handleLoginEnter($event)">
		</div>
		<div class="alert alert-danger" ng-show="loginErrorMsg!=null">{{loginErrorMsg}}</div>
	</form>
	<button class="btn btn-lg btn-primary" ng-click="login()">Sign in</button>
</div>
