<div class="modal-header mirror-view-dialog-header">
	<table class="table mirror-view-dialog-header-table">
		<tr>
			<td>
				<small>User:</small>
				<div>
					{{mirrorSession.user}}
				</div>
			</td>
			<td>
				<small>Application:</small>
				<div>
					{{mirrorSession.application}}
				</div>
			</td>
			<td>
				<small>Start time:</small>
				<div>
				 {{mirrorSession.startedAt | date:'dd MMM h:mm:ss'}}
				</div>
			</td>
			<td>
				<small>User connection status:</small>
				<div ng-switch on="mirrorSession.connected">
					<div ng-switch-when="true" >
						<span  class="label label-success">Connected</span>
					</div>
					<div ng-switch-when="false" >
						<span class="label label-danger" ui-jq="tooltip" title="Disconnected at {{mirrorSession.disconnectedSince| date:'dd MMM h:mm:ss'}}">Disconnected</span>
					</div>
				</div>
			</td>
			<td>
				<small>Memory:</small>
				<progressbar  animate="false" max="mirrorSession.state.heapSize" value="mirrorSession.state.heapSizeUsed"><span style="color:black; white-space:nowrap;">{{(mirrorSession.state.heapSizeUsed/mirrorSession.state.heapSize*100 |number:1) +'%  '+(mirrorSession.state.heapSizeUsed|number:1)+'MB/'+(mirrorSession.state.heapSize|number:0)+'MB'}}</span></progressbar>
			</td>
			<td>
				<button type="button" class="btn btn-primary" ng-model="config.control" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
        			Control: {{config.control|bool:'ON ':'OFF' }}
   				</button>
				<button type="button" class="btn btn-primary" ng-click="kill()">
					<span class="glyphicon glyphicon-off"></span> Kill swing 
				</button>

				<button type="button" class="btn btn-primary" ng-click="closeMirrorView()">
					<span class="glyphicon glyphicon-remove"></span>Close
				</button>
			</td>
		</tr>
	</table>
</div>
<div class="modal-body mirror-view-dialog-body" data-webswing-instance="webswingmirrorview">
	
</div>
