* {
	margin: 0;
	padding: 0;
} /* to remove the top and left whitespace */
body {
	background-image: url("../img/crossword.png");
}
html,body {
	width: 100%;
	height: 100%;
} /* just to be sure these are full screen*/

.webswing-element{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
